body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  body .wrap {
    width: 70px;
    background-color: #ffff41; }
  body li {
    text-decoration: none; }
