doctype
html
  head
    meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    block title
      
  body
    .wrap
      ul
        li Home
        li Store
        li Contact
        li About us
      main
      block main

      footer
        ul
          li help
          li me
          li please
          li im
          li dying
