
extends layout.pug
  
block title
  title Testing Testing, hope this works!
  
block main
  .wrap
    h1 SkillsUSA .pug practice!
    p This is a quick test to make sure I know what I'm doing for .pug and <strong>hopefully</strong> some .scss!
