
extends layout.pug
  
block title
  title TAAAAAKE OOOOON MEEEE
  
block main
  .wrap
    h1 TAAAAAKE MEEEE OOOOOON
    p This is a quick test to make sure I know what I'm doing for .pug and <strong>hopefully</strong> some .scss!
